<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Fimz Forum</title>
    <base href="/" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css" />

    <!-- facebook scripts -->
    @*<script src="//connect.facebook.net/en_US/all.js"></script>*@
</head>
<body>

    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function ()
        {
            FB.init({
                appId: '569993279778143',
                xfbml: true,
                version: 'v2.0',
                status: 'true',
            });

            FB.Event.subscribe('auth.statusChange', function (response)
            {
                debugger;
            });

            FB.Event.subscribe('auth.authResponseChange', function (response)
            {
                debugger;
                if (response.status === 'connected')
                {
                    document.getElementById("message").innerHTML += "<br>Connected to Facebook";
                    getUserInfo();
                    //SUCCESS
                }
                else if (response.status === 'not_authorized')
                {
                    document.getElementById("message").innerHTML += "<br>Failed to Connect";
                    //FAILED
                } else
                {
                    document.getElementById("message").innerHTML += "<br>Logged Out";
                    //UNKNOWN ERROR
                }
            });
        };

        function Login()
        {
            FB.login(function (response)
            {
                if (response.authResponse)
                {
                    getUserInfo();
                } else
                {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, { scope: '' });
        }

        function getUserInfo()
        {
            FB.api('/me', function (response)
            {
                var str = "<b>Name</b> : " + response.name + "<br>";
                str += "<b>Link: </b>" + response.link + "<br>";
                str += "<b>id: </b>" + response.id + "<br>";
                str += "<input type='button' value='Logout' onclick='Logout();'/>";
                document.getElementById("status").innerHTML = str;
            });
        }

        function Logout()
        {
            FB.logout(function () { document.location.reload(); });
        }


        (function (d, s, id)
        {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Fimz Forum</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#1">Topic</a></li>
                    <li><a href="#1/1">Thread</a></li>
                </ul>

                <!-- user login -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#demo">Demo</a></li>
                    <li><a><fb:login-button autologoutlink="true"></fb:login-button></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div ng-view class="container"></div>

    <div class="container">
        <h3>Facebook OAuth Javascript Demo</h3>
        <div id="status">
            Click on Below Image to start the demo:
            <br />
            <img src="http://hayageek.com/examples/oauth/facebook/oauth-javascript/LoginWithFacebook.png"
                style="cursor: pointer;" onclick="Login()" />
        </div>
        <div id="message">

        </div>
    </div>
    <!-- javascript libraries -->
    <script src="lib/jquery/dist/jquery.js"></script>
    @*    <script src="lib/requirejs/require.js"></script>*@
    <script src="lib/q/q.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/breezejs/breeze.debug.js"></script>

    <!-- angular stuff -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>
    <!-- angular services -->
    <script src="app/services/topicService.js"></script>
    <script src="app/services/threadService.js"></script>
    <script src="app/services/postService.js"></script>
    <!--  angular controllers -->
    <script src="app/controllers/forumController.js"></script>
    <script src="app/controllers/topicController.js"></script>
    <script src="app/controllers/threadController.js"></script>
    <!-- angular directives -->
    <script src="app/directives/topic.js"></script>
    <script src="app/directives/thread.js"></script>
    <script src="app/directives/post.js"></script>
</body>
</html>
