<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Fimz Forum</title>
    <base href="/" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Fimz Forum</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#1">Topic</a></li>
                    <li><a href="#1/1">Thread</a></li>
                </ul>

                <!-- user login -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#login">Login</a></li>
                    <li><a href="#demo">Demo</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div ng-view class="container"></div>

    <!-- javascript libraries -->
    <script src="lib/jquery/dist/jquery.js"></script>
@*    <script src="lib/requirejs/require.js"></script>*@
    <script src="lib/q/q.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/breezejs/breeze.debug.js"></script>

    <!-- angular stuff -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>
    <!-- angular services -->
    <script src="app/services/topicService.js"></script>
    <script src="app/services/threadService.js"></script>
    <script src="app/services/postService.js"></script>
    <!--  angular controllers -->
    <script src="app/controllers/forumController.js"></script>
    <script src="app/controllers/topicController.js"></script>
    <script src="app/controllers/threadController.js"></script>
    <!-- angular directives -->
    <script src="app/directives/topic.js"></script>
    <script src="app/directives/thread.js"></script>
    <script src="app/directives/post.js"></script>
</body>
</html>
